<div class="container">
     <form>
        <h1>Opration Form</h1>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Enter 1st Value</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" #add1 placeholder="Enter 1st Value">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Enter 2nd value</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" #add2 placeholder="Enter 2nd value">
          </div>
        </div>
          <div class="btn-group" role="group" aria-label="Basic example">
           <!--<button type="button" class="btn btn-secondary"></button>-->
            <!-- <button class="btn btn-secondary mr-5" (click)="getAdd(add1.value, add2.value)">addition</button> -->
            <button class="btn btn-secondary mr-5" (click)="paresh(add1.value, add2.value)">addition</button>

            <!-- <button class="btn btn-secondary mr-5" (click)="getSub(add1.value,add2.value)">Subtraction</button> -->
            <!-- <button class="btn btn-secondary mr-5" (click)="getMul(add1.value,add2.value)">Multiplication</button> -->
            <!-- <button class="btn btn-secondary mr-5" (click)="getDiv(add1.value,add2.value)">Divided</button> -->
          </div>
      </form> 
    </div>
    <h3>{{a1}}</h3>
    <h3>{{b1}}</h3>
    <h3>{{c1}}</h3>
    <h3>{{d1}}</h3>